@page
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="mr-4">Я думаю это</div>
        <div class="mr-4"><input type="text" id="messageInput" /></div>
        <div>
            <input type="button" id="sendButton" value="вот это" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>